.about h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 40px;
  }
  
  .container .about-list {
    padding-bottom: 94px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .about-list .item {
    margin: 15px 15px;
    position: relative;
  }
  
  .about-list p {
    height: 70px;
    width: 100%;
    left: 0%;
    bottom: 0%;
    color: var(--third-color);
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
  }