.logo-darktheme {
    font-family: "Raleway", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }
  
  .logo-darktheme > span {
    color: var(--third-color);
  }